<form fxLayout="column" fxLayoutAlign="center center" class="pt-20 px-4 h-[100vh] w-full">

    <div fxLayout="column" fxLayoutGap="2rem" class="min-w-[18rem] max-w-[26rem]">
<div fxLayout="column" fxLayoutGap="1rem">
    <span class="text-[1.6rem] font-semibold">Welcome Back!</span>
    <span class="text-[1.4rem] font-medium">Login</span>
</div>
    
    
     <div fxLayout="column" fxLayoutGap="1rem">
        
        <mat-form-field appearance="outline">
     
            <input matInput type="email" placeholder="Enter Email" required>
  
          </mat-form-field>
  
      
          <mat-form-field appearance="outline">
           
            <input matInput type="password" placeholder="Password" required>
            
          </mat-form-field>
        
     </div>
    
            <p class="text-[0.8rem]">
    
                By proceeding, you consent to get calls, WhatsApp or SMS messages, including by automated means, from Uber and its affiliates to the number provided.
                This site is protected by reCAPTCHA and the Google
                 <a href="#" target="blank"> Privacy Policy</a>
                  and
                   <a href="#" target="blank">Terms of Service apply</a>
                   .
    
            </p>
    
            <button class="h-[4rem] w-full bg-black text-white text-base rounded-lg transition-all hover:bg-zinc-800">
                Continue
            </button>

    </div>
</form>
