<form [formGroup]="loginForm" (submit)="loginData()" autocomplete="new-password" fxLayout="column"
    fxLayoutAlign="center center" class="pt-20 px-4 h-[100vh] w-full">
    <div fxLayout="column" fxLayoutGap="1rem" class="min-w-[18rem] max-w-[26rem]">
        <div fxLayout="column" fxLayoutGap="1rem">
            <span class="text-[2rem] font-semibold">Welcome Back!</span>
            <span class="text-[1.6rem] font-medium">Login</span>
        </div>
        <div fxLayout="column" fxLayoutGap="1rem">
            <mat-form-field appearance="outline">
                <input matInput type="email" placeholder="Enter Email" formControlName="email" id="email"
                    autocomplete="new-password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput type="password" placeholder="Password" formControlName="password" id="password" autocomplete="new-password" required>
            </mat-form-field>
        </div>
        <a href="#" routerLink="/sign-up" class="text-base transition-all hover:underline">Create Account </a>
        <p class="text-[0.8rem]">
            By proceeding, you consent to get calls, WhatsApp or SMS messages, including by automated means, from Uber
            and its affiliates to the number provided.
            This site is protected by reCAPTCHA and the Google
            <a href="#" target="blank" class=" transition-all hover:underline"> Privacy Policy</a>and<a href="#"
                class=" transition-all hover:underline" target="blank">Terms of Service apply</a>.
        </p>
        <button class="h-[4rem] w-full bg-black text-white text-base rounded-lg transition-all hover:bg-zinc-800">
            Continue
        </button>
    </div>
</form>