<div class="border p-6 rounded-lg pb-12 w-full min-w-[12.5rem]">
  <div fxLayout="column" class="w-full">
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="12">
      <img
        class="rounded-full w-12 h-12 object-cover"
        src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/d96375ed3fb7384c.svg"
        alt="Photo of a Shiba Inu"
      />
      <div fxLayout="column">
        <span class="font-medium text-base">Rashika B.</span>
        <span class="text-sm text-[#6B6B6B] pt-1">2 months ago</span>
      </div>
    </div>
    <div class="pt-5 text-base">Good drink</div>
  </div>
</div>
