 <div fxLayout="column" fxLayoutGap="3rem">
  <div class="md:flex md:justify-center
   md:gap-9 xl:flex xl:justify-center xl:gap-[8rem]">
      <div class="h-[30rem] flex flex-col 
      justify-center items-center sm:flex 
      sm:flex-col sm:justify-center sm:items-center xl:gap-5 ">
          <a routerLink="/store-item" class="flex justify-center
           items-center gap-1 text-xs mt-40 sm:text-base md:text-xs md:mt-[6rem]
            sm:mt-[20rem] xl:text-lg xl:mt-[13rem]" href="#">
              <mat-icon>keyboard_backspace</mat-icon>
              Back to Chick-fil-A (235 Peachtree St Ne # B-40)
          </a>
          <img class="md:w-[20rem] md:h-[20rem] xl:w-[25rem] xl:h-[25rem]" 
          src="https://tb-static.uber.com/prod/image-proc/processed_images/ca19bfd164bcffc6038863ccda2b94b1/5954bcb006b10dbfd0bc160f6370faf3.jpeg" alt=""> 
      <div>   
        <div class=" bg-neutral-200 max-w-[38rem] h-[15rem] opacity-25
         absolute mt-[14rem] top-0 left-1 right-0 md:w-[23rem] md:h-[20rem] 
         md:mt-[10rem] md:ml-[0]  xl:w-[32rem] xl:h-[30rem] xl:ml-[7rem] ">
        </div>
      </div>
      </div>
      <div class="p-4 sm:mt-24 md:w-[50%] xl:w-[40%]">
          <div>
          <div class="text-base md:text-[1.1rem]">Chick-fil-A® Chicken Biscuit Meal</div>
          <h2 mat-headline class="">$9.09</h2>
          <p>A breakfast portion of our famous boneless breast of chicken, seasoned to perfection, hand-breaded, pressure cooked in 100% refined peanut oil and served on a buttermilk biscuit baked fresh at each Restaurant.</p>
          <div class="flex justify-center items-center bg-neutral-200
           rounded-2xl w-[4rem] h-[1.3rem] p-[0.2rem]">
            <mat-icon class="text-xs mt-2">thumb_up</mat-icon>
            <div class="text-xs">66%</div>
          </div>
          <mat-list>
            <mat-divider class="pb-[rem] pt-[rem]"></mat-divider>
          </mat-list>
            <mat-list>
              <mat-list-item>
                <div class="flex sm:justify-between gap-[10%] items-center">
                  <div>
                    <span matListItemTitle>Choose your option</span>
                    <span matListItemLine>Choose 3</span>
                  </div>
                  <mat-chip>Required</mat-chip>
                </div>
              </mat-list-item>
            </mat-list>
            <mat-list>
              <mat-divider class="pb-[rem] pt-[rem]"></mat-divider>
            </mat-list>
            <mat-selection-list class="">
              <mat-list-option>
                  Chick-fil-A® Chicken Biscuit
              </mat-list-option>
            </mat-selection-list>
            <div>
              <mat-list>
                <mat-divider class="pb-[rem] pt-[rem]"></mat-divider>
              </mat-list>
            <mat-card class="max-w-[100%] p-4">
              <div class="flex justify-between items-center">
                <span class="text-">Customize this item</span>
                <mat-icon class="text-black ml-2">chevron_right</mat-icon>
              </div>
            </mat-card>
            <mat-selection-list class="">
              <mat-list-option>
                Breakfast Meal Sides
              </mat-list-option>
            </mat-selection-list>
            <mat-card class="max-w-[100%] p-4">
              <div class="flex justify-between items-center">
                <span class="text-">Customize this item</span>
                <mat-icon class="text-black ml-2">chevron_right</mat-icon>
              </div>
            </mat-card>
            <mat-selection-list class="">
              <mat-list-option>
                Breakfast Meal Sides
              </mat-list-option>
            </mat-selection-list>
            <mat-card class="max-w-[100%] p-4">
              <div class="flex justify-between items-center">
                <span class="text-">Customize this item</span>
                <mat-icon class="text-black ml-2">chevron_right</mat-icon>
              </div>
            </mat-card>
            <mat-list>
              <mat-divider></mat-divider>
            </mat-list>
              <div fxLayout="row" fxLayoutAlign="start center" class="border-gray-100 mt-5">
                <span
                  class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-black hover:text-blue-50">
                  - </span>
                <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" value="1" min="1" />
                <span
                  class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-black hover:text-blue-50">
                  + </span>
              </div>
              <mat-list>
                <mat-divider></mat-divider>
              </mat-list>
              <div class="mt-8">
                <a routerLink="/check-out" href="#">
              <button class="text-white font-medium sm:text-lg rounded-xl 
              bg-black sm:h-[3.7rem] sm:w-[100%] h-[3rem]  w-[100%]">
                Add to Cart.$9.09
              </button>
            </a>
              </div>
              <mat-list>
                <mat-divider></mat-divider>
              </mat-list>
            </div>
          </div>
      </div>
  </div>
 </div> 
 <div fxLayout="column" fxLayoutAlign="center start">    
      <div matSubheader class="text-2xl font-semibold md:pl-[1.8rem]
       xl:pl-20 ">Frequently bought together
      </div>
          <div class=" p-4 flex flex-col gap-3 md:flex md:flex-row
           md:justify-center md:items-center md:gap-3  md:flex-wrap 
           xl:flex xl:flex-row xl:justify-start xl:pl-20 ">
            <mat-card class="h-[10rem] sm:w-[25rem] hover:shadow-xl">
              <div class="flex justify-between">
                <div>
                <mat-card-header>
                    <mat-card-title>Simply Orange®</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p class="text-gray-600 text-[0.9]">$1.04</p>
                  <p class="text-gray-800 text-[0.6rem]">Food Details Lorem ipsum dolor sit amet.</p>
                </mat-card-content>
            </div>
                 <div class="overflow-hidden">
                  <img class="h-[10rem] w-[9.7rem]" 
                  mat-card-image src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvYjQzNjY0Y2IzNTc2OTQ2NzczNGRlNWMxZDMxY2E5NmYvNTk1NGJjYjAwNmIxMGRiZmQwYmMxNjBmNjM3MGZhZjMuanBlZw==" alt="">
                  <div class="bg-neutral-200 w-[9.7rem] h-[9rem] opacity-25
                   absolute mt-[0.5rem] ml-[7.9rem] md:ml-[15.6rem] md:w-[9rem]
                    top-0 right-0 left-0 bottom-0">
                  </div>
                 </div>
                </div>
              </mat-card>
              <mat-card class="h-[10rem] sm:w-[25rem] hover:shadow-xl">
                <div class="flex justify-between">
                    <div>
                <mat-card-header>
                    <mat-card-title>Simply Orange®</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p class="text-gray-600 text-[0.9]">$1.04</p>
                  <p class="text-gray-800 text-[0.6rem]">Food Details Lorem ipsum dolor sit amet, consectetur.</p>
                </mat-card-content>
            </div>
                 <div>
                  <img class="h-[10rem] w-[13rem]" mat-card-image src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvZjI4MWU5ZGI5ODUzOGQ2OGZiMzk2ZTVkYjBjY2MwMmMvODU5YmFmZjFkNzYwNDJhNDVlMzE5ZDFkZTgwYWVjN2EuanBlZw==" alt="">
                  <div class="bg-neutral-200 w-[6.7rem] h-[9rem] opacity-25 
                  absolute mt-[0.5rem] ml-[10.9rem] md:ml-[15.6rem] md:w-[9rem] 
                  top-0 right-0 left-0 bottom-0">
                </div>
                  <div>   
                </div>
                 </div>
                </div>
              </mat-card>
              <mat-card class="h-[10rem] sm:w-[25rem] hover:shadow-xl">
                <div class="flex justify-between">
                    <div>
                <mat-card-header>
                    <mat-card-title>Waffle Potato Chips</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p class="text-gray-600 text-[0.9]">$2.69</p>
                  <p class="text-gray-800 text-[0.6rem]">Food Details Lorem ipsum dolor sit amet, consectetur .</p>
                </mat-card-content>
            </div>
                 <div>
                  <img class="h-[10rem] w-[13rem]" mat-card-image src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvMzFlNTM0OWFmMWFhOTRjNDZhNDkyYjExNjhlNjU5NDcvNTk1NGJjYjAwNmIxMGRiZmQwYmMxNjBmNjM3MGZhZjMuanBlZw==" alt="">
                  <div class="bg-neutral-200 w-[6.7rem] h-[9rem] opacity-25 
                  absolute mt-[0.5rem] ml-[10.9rem] md:ml-[15.6rem] md:w-[9rem] 
                  top-0 right-0 left-0 bottom-0">
                </div>
                  <div>   
                </div>
                 </div>
                </div>
              </mat-card>
              <mat-card  class="h-[10rem] sm:w-[25rem] hover:shadow-xl">
                <div  class="flex justify-between">
                    <div>
                <mat-card-header>
                    <mat-card-title>Buddy Fruits® Apple Sauce</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p  class="text-gray-600 text-[0.9]">>$3.19</p>
                  <p class="text-gray-800 text-[0.6rem]">Food Details Lorem ipsum dolor sit amet, consectetur.</p>
                </mat-card-content>
            </div>
                 <div>
                  <img class="h-[10rem] w-[13rem]"
                   mat-card-image src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvNTkxZjgwNmY0NGNiZjg2NDc4NmNhYTY4ZjM5NzYxZTkvNTk1NGJjYjAwNmIxMGRiZmQwYmMxNjBmNjM3MGZhZjMuanBlZw==" alt="">
                  <div class="bg-neutral-200 w-[6.7rem] h-[9rem] opacity-25
                   absolute mt-[0.5rem] ml-[10.9rem] md:ml-[15.6rem] md:w-[9rem]
                    top-0 right-0 left-0 bottom-0">
                  </div>
                 </div>
                </div>
              </mat-card>
          </div>
          <mat-list>
            <mat-divider></mat-divider>
          </mat-list>
      </div>