<mat-toolbar color="primary" class="w-full">
        <mat-toolbar-row class="flex items-center justify-between">
          <div class="flex items-center">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <span>Ubar Eats</span>
          </div>
          <!-- <input type="text" class="hidden sm:block"> -->

          <div class="flex items-center gap-4">
              <div class="flex items-center rounded-xl">
                <h4 class="p-2">Cart.0</h4>
              </div>
    
              <div class="flex items-center rounded-lg">
                <span>Log in</span>
              </div>
              
              <div class="">
                 <h4 class="m-2">Sign up</h4>
              </div>
          </div>
        </mat-toolbar-row> 
</mat-toolbar>