<mat-toolbar
  fxlayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="4"
  style="background-color: white;"
  class="w-full h-[4.5rem] fixed z-50 top-0"
>
  <mat-toolbar-row class="w-full mx-auto sm:mx-4">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="24"
      class="w-full"
    >
      <div fxLayout="row" fxLayoutAlign=" center" fxlayoutGap="58">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="font-bold text-xl sm:text-3xl">Uber Eats</span>
      </div>

      <div fxLayout="row " fxLayoutGap="1em" class="w-full">
        <div fxShow.gt-sm fxHide fxLayoutAlign="center center">
          <button
            mat-fab
            extended
            fxLayoutAlign="center center"
            style="background-color: #eeeeee; box-shadow: none;"
          >
            <mat-icon class="text-[15px] mt-2 text-black">location_on</mat-icon>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6" class=" text-black">
              <span>Atlanta</span>
              <span>•</span>
              <span>now</span>
            </div>
          </button>
        </div>

        <div
          fxShow.lt-xl
          fxHide.lt-md
          fxayoutAlign="center center"
          class="w-full"
        >
          <div
            fxLayout="row"
            fxLayoutGap="16"
            fxLayoutAlign=" center"
            class="bg-secondary h-12 rounded-full px-4"
            style="background-color: #eeeeee;"
          >
            <mat-icon class="text-4">search</mat-icon>
            <input
              type="text"
              class="bg-transparent outline-none w-full text-sm"
              placeholder="Food, groceries, drinks, etc"
            />
          </div>
        </div>
      </div>

      <div fxLayoutAlign="center center" fxLayoutGap="16" class="gap-2 text-sm">
        <div
          fxLayoutAlign="center center"
          class=" bg-transparent txet-black sm:bg-black sm:text-white p-3 rounded-full h-9 relative"
        >
          <mat-icon fxHide.lt-sm class="text-3 sm:text-[1.1rem] pt-[1.7px] fon">shopping_cart</mat-icon>
          <mat-icon fxHide.gt-xs="" matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
          <span class="rounded-xl text-ms hidden sm:block">Cart.0</span>
        </div>

        <div fxLayoutAlign="center center" fxLayoutGap="18" fxHide.lt-sm="">
          <a
            href="#"
            fxLayoutAlign="center center"
            fxLayoutGap="1"
            class="rounded-full bg-secondary p-3 h-9 text-black"
            style="background-color: #eeeeee;"
          >
            <mat-icon class="text-[1.2rem] pt-px">person</mat-icon>
            <span>Log in</span>
          </a>

          <a
            href="#"
            fxLayoutAlign="center center"
            class="rounded-full bg-secondary p-3 h-9 text-black"
            style="background-color: #eeeeee;"
          >
            <span class="">Sign up</span>
          </a>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
