<div>
    <div fxLayout="column" fxLayoutAlign="center center" class="w-full mx-auto mt-24 p-5 md:px-12 md:max-w-5xl">
        <div>
            <div class="font-black text-4xl text-center">Checkout</div>
        </div>
        <hr class="w-full my-10">
        <div fxLayout="column" fxLayoutGap="1.5rem" class="w-full">
            <a routerLink="/">
                <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center" 
                    class="text-gray-700 bg-neutral-100 py-5 px-3 rounded-xl text-sm font-thin hover:bg-neutral-200">
                    <div>Returning Customer?</div>
                    <div class="hover:underline">Click here to Login</div>
                </div>
            </a>
            <a routerLink="/">
                <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center" 
                    class="text-gray-700 bg-neutral-100 py-5 px-3 rounded-xl text-sm font-thin hover:bg-neutral-200">
                    <div>Have a coupon?</div>
                    <div class="hover:underline">Click here to enter code</div>
                </div>
            </a>
        </div>
        <form class="w-full mt-10 md:flex md:gap-10">
            <div class="pb-12 md:w-1/2">
                <div>
                    <div class="text-2xl font-bold py-3">Billing Details</div>
                    <div fxLayout="column" fxLayoutGap="2rem">
                        <input class="border-[0.08rem] rounded-xl border-gray-300 py-4 px-3" required type="text" name="name" id="name" placeholder="Name">
                        <input class="border-[0.08rem] rounded-xl border-gray-300 py-4 px-3" required type="email" name="email" id="email" placeholder="Email Address">
                        <input class="border-[0.08rem] rounded-xl border-gray-300 py-4 px-3" required type="tel" name="phone" id="phone" placeholder="Phone Number">
                        <input class="border-[0.08rem] rounded-xl border-gray-300 py-4 px-3" required type="text" name="address" id="address" placeholder="Street Address">
                        <div class="inline-flex items-center">
                            <label class="relative flex items-center p-3 rounded-full cursor-pointer" for="login" data-ripple-dark="true">
                                <input id="address-details" type="checkbox"
                                    class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute 
                                        before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 
                                        before:opacity-0 before:transition-opacity checked:border-black checked:bg-black checked:before:bg-black hover:before:opacity-10" />
                                <div
                                    class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                                        stroke="currentColor" stroke-width="1">
                                        <path fill-rule="evenodd"
                                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </label>
                            <label class="mt-px font-medium text-black cursor-pointer select-none" for="address-details">
                                Remember Me
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="mt-10">
                        <div class="text-2xl font-bold py-3">Additional Informational</div>
                        <div>
                            <textarea id="message" rows="4"
                                class="block p-2.5 w-full border-[0.08rem] rounded-xl border-gray-300 py-4 px-3"
                                placeholder="Notes about your order, e.g. notes for special delivery"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="3rem" class=" md:w-1/2">
                <div>
                    <div>
                        <div class="text-2xl font-bold py-3">Your Order</div>
                    </div>
                    <div fxLayout="column" class="bg-white shadow-lg rounded-xl px-5 py-2">
                        <div class="py-3 font-normal text-xs" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                            <div>Vegetable Salad <span>(x3)</span></div>
                            <div>$13.19</div>
                        </div>
                        <hr>
                        <div class="py-3 font-normal text-xs" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                            <div>Grill Seanson Fish <span>(x1)</span></div>
                            <div>$33.46</div>
                        </div>
                        <hr>
                        <div class="py-3 font-semibold text-sm" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                            <div>Subtotal</div>
                            <div>$53.16</div>
                        </div>
                        <hr>
                        <div class="py-3 font-semibold text-sm" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                            <div>Total</div>
                            <div>$53.16</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="text-2xl font-bold py-3">Payment Method</div>
                    </div>
                    <div fxLayout="column" class="bg-white shadow-lg rounded-xl p-5">
                        <mat-radio-group aria-label="Select a payment method"
                             class="font-semibold text-sm tracking-wide" fxLayout="column" fxLayoutGap="0.8rem" fxFlex="100%">
                            <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                                <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
                                    <mat-icon>credit_card</mat-icon>
                                    <div>Credit Card</div>
                                </div>
                                <mat-radio-button value="card"></mat-radio-button>
                            </div>
                            <hr>
                            <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                                <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
                                    <mat-icon>account_balance_wallet</mat-icon>
                                    <div>Cash on Delivery</div>
                                </div>
                                <mat-radio-button value="cash"></mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                    <div class="my-5 p-5 text-xs text-gray-700 bg-neutral-200 rounded-xl">
                        <div>Your personal data will be used to process your order, support your experience 
                            throughout the website, and frthe purpose described in our privacy policy
                        </div>
                    </div>
                    <div class="mt-10">
                        <button type="submit" class="bg-black w-full rounded-lg text-white font-semibold p-3 hover:opacity-80">
                            <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
                                <div>Place Order</div>
                                <div><mat-icon>check</mat-icon></div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>