<div>
    <div fxLayout="column" fxLayoutAlign="center center" class="w-full mx-auto mt-24 p-5 md:px-12 md:max-w-5xl">
        <div>
            <div class="font-black text-4xl text-center">Checkout</div>
        </div>
        <hr class="w-full my-10">
        <div fxLayout="column" fxLayoutGap="1.5rem" class="w-full">
            <a routerLink="/login-page">
                <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center" 
                    class="text-gray-700 bg-neutral-100 py-5 px-3 md:px-5 rounded-xl text-[0.6rem] sm:text-sm font-thin hover:bg-neutral-200">
                    <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
                        <mat-icon>account_box</mat-icon>
                        <div>Returning Customer?</div>
                    </div>
                    <div class="hover:underline">Click here to Login</div>
                </div>
            </a>
            <a routerLink="/">
                <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center" 
                    class="text-gray-700 bg-neutral-100 py-5 px-3 md:px-5 rounded-xl text-[0.6rem] sm:text-sm font-thin hover:bg-neutral-200">
                    <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
                        <mat-icon>redeem</mat-icon>
                        <div>Have a coupon?</div>
                    </div>
                    <div class="hover:underline">Click here to enter code</div>
                </div>
            </a>
        </div>
        <form class="w-full mt-10 md:flex md:gap-10">
            <div class="pb-12 md:w-1/2">
                <div>
                    <div class="text-2xl font-bold py-3">Billing Details</div>
                    <div fxLayout="column" fxLayoutGap="2rem">
                        <mat-form-field appearance="outline">
                            <mat-icon matAffix class="ml-2 sm:ml-4">perm_identity</mat-icon>
                            <input matInput placeholder="Name"
                             class="py-4 px-3 w-full text-sm" required type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-icon matAffix class="ml-2 sm:ml-4">mail_outline</mat-icon>
                            <input matInput placeholder="Email Address"
                             class="py-4 px-3 w-full text-sm" required type="email">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-icon matAffix class="ml-2 sm:ml-4">call</mat-icon>
                            <input matInput placeholder="Phone Number"
                             class="py-4 px-3 w-full text-sm" required type="number">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-icon matAffix class="ml-2 sm:ml-4">place</mat-icon>
                            <input matInput placeholder="Street Address"
                             class="py-4 px-3 w-full text-sm" required type="text">
                        </mat-form-field>
                        <mat-checkbox>Ship to a new address</mat-checkbox>
                    </div>
                </div>
                <div>
                    <div class="mt-10">
                        <div class="text-2xl font-bold py-3">Additional Informational</div>
                        <mat-form-field>
                            <textarea matInput rows="4"
                                class="block p-2.5 w-full h-36 border-[0.08rem] rounded-xl border-gray-300 py-4 px-3 text-sm"
                                placeholder="Notes about your order, e.g. notes for special delivery"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="3rem" class=" md:w-1/2">
                <div>
                    <div>
                        <div class="text-2xl font-bold py-3">Your Order</div>
                    </div>
                    <div fxLayout="column" class="bg-white shadow-lg rounded-xl px-5 py-2">
                        <div class="py-3 font-normal text-xs" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                            <div>Vegetable Salad <span>(x3)</span></div>
                            <div>$13.19</div>
                        </div>
                        <hr>
                        <div class="py-3 font-normal text-xs" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                            <div>Grill Seanson Fish <span>(x1)</span></div>
                            <div>$33.46</div>
                        </div>
                        <hr>
                        <div class="py-3 font-semibold text-sm" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                            <div>Subtotal</div>
                            <div>$53.16</div>
                        </div>
                        <hr>
                        <div class="py-3 font-semibold text-sm" fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                            <div>Total</div>
                            <div>$53.16</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="text-2xl font-bold py-3">Payment Method</div>
                    </div>
                    <div fxLayout="column" class="bg-white shadow-lg rounded-xl p-5">
                        <mat-radio-group aria-label="Select a payment method"
                             class="font-semibold text-sm tracking-wide" fxLayout="column" fxLayoutGap="0.8rem" fxFlex="100%">
                            <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                                <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
                                    <mat-icon>credit_card</mat-icon>
                                    <div>Credit Card</div>
                                </div>
                                <mat-radio-button value="card"></mat-radio-button>
                            </div>
                            <hr>
                            <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
                                <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
                                    <mat-icon>account_balance_wallet</mat-icon>
                                    <div>Cash on Delivery</div>
                                </div>
                                <mat-radio-button value="cash"></mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                    <div class="my-5 p-5 text-xs text-gray-700 bg-neutral-200 rounded-xl">
                        <div>Your personal data will be used to process your order, support your experience 
                            throughout the website, and frthe purpose described in our privacy policy
                        </div>
                    </div>
                    <div class="mt-10">
                        <button type="submit" class="bg-black w-full rounded-lg text-white text-lg
                         font-semibold p-3 hover:opacity-80 tracking-wide">
                            <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
                                <div>Place Order</div>
                                <mat-icon>call_to_action</mat-icon>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>