<div class="mt-[8rem] pl-[1rem] xl:pl-[1rem] md:pl-[3.4rem]  h-1">
  <div class="xl:text-[2rem] text-[1.7rem] lg:pl-[0.8rem] xl:mr-[5rem]  font-semibold">Deal</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center enter"
  class="py-5 border-b-[1.5px] mt-[5rem] flex flex-wrap p-3  border-solid border-#eeeeee
  w-full overflow-x-auto xl:flex xl:flex-wrap gap-4 lg:overflow-x-hidden">
  <a href="#" *ngFor="let category of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]">
  <div fxLayout="column" fxLayoutAlign="space-between center"
    class="w-full h-full overflow-hidden rounded-[0.6rem] shadow-none relative">
    <div>
        <img class="w-[20rem] h-[10rem] rounded-[0.6rem]" mat-card-image
          src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvNzEwZjcxMzE0YjdiYWZmZjhjMzI2ZTY3YWEyNTRhMjgvNjlhZDg1Y2Q3YjM5ODg4MDQyYjNiYmYxYzIyZDYzMGQuanBlZw=="
          alt="Delicious Burger">
    </div>
    <span fxLayoutAlign="center center"
      class="material-symbols-outlined text-sky-100 z-10 h-10 w-10 rounded-full absolute top-1 right-4">
      favorite
    </span>
    <div fxLayout="row" fxLayoutAlign="space-between start" class="content pb-4 w-full" px-2>
      <mat-card-content class="w-[100px] h-auto" fxLayout="column" fxLayoutAlign="center start">
        <mat-card-title class="truncate-text whitespace-nowrap overflow-hidden text-ellipsis max-w-[150px] pt-2 text-[1.1rem] font-medium">
          J. Christopher's
          </mat-card-title>
        <mat-card-subtitle class="mt-1 text-slate-500 text-[1rem] w-[12rem]">$2.49 Delivery Fee
         </mat-card-subtitle>
      </mat-card-content>
      <span fxLayoutAlign="center center" class="h-7 w-7 mt-2 rounded-full bg-slate-200 font-medium text-[0.8rem]">
        4.6
      </span>
    </div>
  </div>


