
::ng-deep.mdc-list-item--with-leading-radio .mdc-list-item__start {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
::ng-deep.mdc-list-item--with-leading-icon .mdc-list-item__start {
    margin-left: 4px !important;
    margin-right: 4px !important;
}
::ng-deep.mat-mdc-list-option .mdc-radio {
     padding: calc((10px - 2px) / 2) !important; 
    padding: calc((var(--mdc-radio-state-layer-size, 10px) - 2px) / 2) !important; 
}
::ng-deep.mat-mdc-list-base {
    --mdc-list-list-item-one-line-container-height: 43px;
    --mdc-list-list-item-two-line-container-height: 57px;
    --mdc-list-list-item-three-line-container-height: 79px;
   
}


  