<div class="banner overflow-hidden w-full">
    <a href="#" fxLayout="row" fxLayoutAlign="space-between" class="bg-[#ffd688] rounded-xl border border-gray-300">
        <div fxLayout="column" fxLayoutAlign="space-between none" class=" p-[2vw] pr-0 h-auto w-full">
            <div fxLayout="column">
                <div class="font-bold cursor-pointer text-[7vw] leading-[8vw]">Celebrate Georgia Tech Homecoming!</div>
                <div class="font-thin pt-[2.3vw] text-[3vw]">Gameday Savings</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="bg-white w-fit h-fit px-2 rounded-3xl m-0">
                <div fxLayoutAlign="center center" class="py-[1vw]">
                    <span class=" pl-1">Score Now</span>
                    <span fxLayout="row" fxLayoutAlign="center center" class="pl-3">
                        <mat-icon  class="text-sm pt-[.185em] -ml-1">
                            arrow_forward
                        </mat-icon>
                    </span>
                </div>
            </div>
        </div>
        <div class="overflow-hidden rounded-e-xl w-[45%]">
            <img src="https://d1g1f25tn8m2e6.cloudfront.net/6928e61f-b214-4174-817b-9784254751e1.png"
                alt="Celebrate Georgia Tech Homecoming!"
                class="object-cover h-full w-full">
        </div>
    </a>
</div>