<div class="p-6 pt-10 pr-10 pb-6 pl-10">
    <div fxLayout="" fxLayoutAlign="start center">
        <div fxFlex="33%" class="mb-6 px-3">
            <div class="font-bold text-4xl mb-2 tracking-wide">Crave it? Get it.</div>
            <div class="font-normal text-base">Search for a favorite restaurant, cuisine, or dish.</div>
        </div>
        <div fxLayoutAlign="center start" class="w-full">
            <a href="#" fxLayout="row" fxLayoutAlign="space-between" class="bg-[#ffd688] rounded-xl border border-gray-300 w-full max-w-sm">
                <div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="3em" class=" p-3 pr-0 h-auto w-full">
                    <div fxLayout="column">
                        <div class="font-bold cursor-pointer text-xl">Celebrate Georgia Tech Homecoming!</div>
                        <div class="font-thin text-sm">Gameday Savings</div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" class="bg-white w-fit h-fit px-2 rounded-3xl m-0">
                        <div fxLayoutAlign="center center">
                            <span class=" pl-1 text-xs">Score Now</span>
                            <span fxLayout="row" fxLayoutAlign="center center" class="pl-1">
                                <mat-icon class="text-sm pt-[.185em] -ml-1">
                                    arrow_forward
                                </mat-icon>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="overflow-hidden rounded-e-xl w-[57%]">
                    <img src="https://d1g1f25tn8m2e6.cloudfront.net/6928e61f-b214-4174-817b-9784254751e1.png"
                        alt="Celebrate Georgia Tech Homecoming!" class="object-cover h-full w-full">
                </div> 
            </a>
        </div>
    </div>
</div>