<div class="banner overflow-hidden w-full max-w-[30em] scale-90">
    <a href="#" fxLayout="row" fxLayoutAlign="space-between" class="bg-[#ffd688] rounded-xl border border-gray-300">
        <div class=" p-3 pr-0 h-full">
            <div fxLayout="column">
                <div class="font-bold cursor-pointer text-[1.8rem] leading-9">Celebrate Georgia Tech Homecoming!</div>
                <div class="font-thin pt-2">Gameday Savings</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-8 bg-white w-fit h-fit px-2 rounded-3xl m-0">
                <div fxLayoutAlign="center center" class="py-[0.15em]">
                    <span class=" pl-1">Score Now</span>
                    <span fxLayout="row" fxLayoutAlign="center center" class="pl-3">
                        <mat-icon  class="text-sm pt-[.185em] -ml-1">
                            arrow_forward
                        </mat-icon>
                    </span>
                </div>
            </div>
        </div>
        <div class="w-[60%] overflow-hidden rounded-e-xl">
            <img src="https://d1g1f25tn8m2e6.cloudfront.net/6928e61f-b214-4174-817b-9784254751e1.png"
                alt="Celebrate Georgia Tech Homecoming!"
                class="object-cover h-full">
        </div>
    </a>
</div>