.banner {

    width: 100%;
    max-width: 418px;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;

    & a {
        border: 1px solid rgb(226, 226, 226);
    }
}