<div class="pt-20">
  <h1 class="py-5 text-center text-3xl font-bold">My Cart</h1>
  <div fxLayoutAlign="center" fxLayout.xs="column" class="mx-auto max-w-5xl px-6 md:space-x-6 xl:px-0 relative">
    <div class="rounded-lg md:w-2/3">
      <hr>
      <div fxLayoutAlign="space-between center" fxLayout.xs="column" class="mb-6 rounded-lg bg-white p-6 sm:flex">
        <img
          src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvZDNkNjc0ZDM0ZTAwNzlmNzEyMjA1ZDYyNzQ1MDcxY2EvYTcwZjVjOWRmNDQwZDEwMjEzZTkzMjQ0ZTllYjdjYWQuanBlZw=="
          alt="product-image" class="w-full rounded-lg sm:w-40 object-cover" />
        <div fxLayout="row" class="ml-4 smfull sm:justify-between w-full">
          <div class="mt-5 sm:mt-0">
            <h2 class="text-lg font-bold text-gray-900 truncate-text whitespace-nowrap overflow-hidden text-ellipsis w-full max-w-xs">Chick-fil-A (401 Bill Kennedy Way SE)</h2>
            <p class="mt-1 text-xs text-gray-400">10 -25 min</p>
            <div fxLayout="row" fxLayoutAlign="start center" class="border-gray-100">
              <span
                class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-black hover:text-blue-50">
                - </span>
              <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" value="2" min="1" />
              <span
                class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-black hover:text-blue-50">
                + </span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-4 sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
            <div fxLayout="column-reverse" fxLayoutAlign="end center" class="sm:justify-center sm:gap-16">
              <div class="text-sm">$259.000</div>
              <div class="border rounded-[4px] bg-black hover:opacity-80" title="Remove from cart">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="h-5 w-5 cursor-pointer duration-150 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div fxLayoutAlign="space-between center" fxLayout.xs="column" class="mb-6 rounded-lg bg-white p-6 sm:flex">
        <img
          src="https://cn-geo1.uber.com/image-proc/resize/eats/format=webp/width=550/height=440/quality=70/srcb64=aHR0cHM6Ly90Yi1zdGF0aWMudWJlci5jb20vcHJvZC9pbWFnZS1wcm9jL3Byb2Nlc3NlZF9pbWFnZXMvOTk4MThhNGQ0YjdlYjE4NzZmYzJhZDVmYmRmNWYxNTUvYTcwZjVjOWRmNDQwZDEwMjEzZTkzMjQ0ZTllYjdjYWQuanBlZw=="
          alt="product-image" class="w-full rounded-lg sm:w-40 object-cover" />
        <div fxLayout="row" class="ml-4 smfull sm:justify-between w-full">
          <div class="mt-5 sm:mt-0">
            <h2 class="text-lg font-bold text-gray-900 truncate-text whitespace-nowrap overflow-hidden text-ellipsis w-full max-w-xs">Einstein Bros. Bagels (8th & Peachtree)</h2>
            <p class="mt-1 text-xs text-gray-400">10 -25 min</p>
            <div fxLayout="row" fxLayoutAlign="start center" class="border-gray-100">
              <span
                class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-black hover:text-blue-50">
                - </span>
              <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" value="2" min="1" />
              <span
                class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-black hover:text-blue-50">
                + </span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-4 sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
            <div fxLayout="column-reverse" fxLayoutAlign="end center" class="sm:justify-center sm:gap-16">
              <div class="text-sm">$259.000</div>
              <div class="border rounded-[4px] bg-black hover:opacity-80" title="Remove from cart">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="h-5 w-5 cursor-pointer duration-150 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="mt-6 h-full rounded-lg bg-slate-50 p-6 md:mt-0 md:w-1/3 hover:border  sticky top-20">
      <h3 class="text-base font-bold pb-3">Order Summary</h3>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-2">
        <p class="text-gray-700">Subtotal</p>
        <p class="text-gray-700">$129.99</p>
      </div>
      <hr class="my-4" />
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p fxLayout="row"  fxLayoutAlign="center center" class="text-gray-700 gap-2">Shipping Estimate <a href="" title="Shipping Information"><svg
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
              class="h-5 w-5 text-gray-400 hover:text-gray-800">
              <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path>
            </svg></a></p>
        <p class="text-gray-700">$4.99</p>
      </div>
      <hr class="my-4" />
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p class="text-base font-bold">Order Total</p>
        <div class="">
          <p class="mb-1 text-base font-bold">$134.98 USD</p>
        </div>
      </div>
      <button class="mt-6 w-full rounded-md bg-black py-4 font-medium text-blue-50 hover:opacity-80">Check
        out</button>
    </div>
  </div>
</div>