<mat-card class="example-card rounded-2xl h-64 w-64 relative">

  <img class="h-4/6 rounded-[0.8rem]" mat-card-image
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStw3-FUUnBFMhR3XppKEQ8Dlw-_VC8dFZjJokU05ObTgGyamIs8t9IFk7psGmGWOMaz5E&usqp=CAU"
    alt="Photo of a Shiba Inu">
  <span fxLayoutAlign="center center" class="material-symbols-outlined  text-sky-100 z-10 h-10 w-10 rounded-full absolute top-1 right-4">

    favorite

  </span>
  <div fxLayout="row" fxLayoutAlign="center center" class="content px-1">

    <mat-card-content>
      <mat-card-title class="w-3/4">Lorem ipsum dolor sit.</mat-card-title>
      <mat-card-subtitle>15-25mins</mat-card-subtitle>
    </mat-card-content>
    <span fxLayoutAlign="center center" class="h-9 w-10 rounded-full bg-slate-200 text-50">
      4.0
    </span>
  </div>
</mat-card>