
<mat-card class="example-card h-72 w-72 relative">
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <img class="h-4/6 rounded-lg" mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStw3-FUUnBFMhR3XppKEQ8Dlw-_VC8dFZjJokU05ObTgGyamIs8t9IFk7psGmGWOMaz5E&usqp=CAU" alt="Photo of a Shiba Inu">
  <span class="material-symbols-outlined text-sky-100 z-10 h-12 w-6 rounded-full absolute top-1 right-4">
    
      favorite
      
  </span>
    <div fxLayout="row" fxLayoutAlign="center center" class="content">

      <mat-card-content>
        <mat-card-title>Lorem ipsum dolor sit.</mat-card-title>
      <mat-card-subtitle>15-25mins</mat-card-subtitle>
      </mat-card-content>
      <span fxLayoutAlign="center center" class="h-10 w-10 rounded-full bg-slate-200 text-50">
        4.0
      </span>
    </div>
  </mat-card>
  