<div fxLayout="column" fxLayoutGap="40" fxLayoutAlign="start center"
  class="w-full h-full overflow-hidden rounded-[0.8rem] relative shadow-[rgba(0,0,0,0.2)] shadow-sm">
  <img class="h-4/6 w-full rounded-[0.8rem]" mat-card-image
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStw3-FUUnBFMhR3XppKEQ8Dlw-_VC8dFZjJokU05ObTgGyamIs8t9IFk7psGmGWOMaz5E&usqp=CAU"
    alt="Photo of a Shiba Inu">
  <span fxLayoutAlign="center center"
    class="material-symbols-outlined  text-sky-100 z-10 h-10 w-10 rounded-full absolute top-1 right-4">
    favorite
  </span>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="content w-full px-4">
    <mat-card-content class="h-auto" fxLayout="column" fxLayoutAlign="center start">
      <mat-card-title fxLayoutAlign="center center" class="w-full overflow-hidden text-[6vw] min-h-[5rem]  font-medium">Einstein Bro.
        Burgers</mat-card-title>
      <mat-card-subtitle class="mt-1">15-25mins</mat-card-subtitle>
    </mat-card-content>
    <span fxLayoutAlign="center center" class="h-10 w-10 rounded-full bg-slate-200 text-50">
      4.0
    </span>
  </div>
</div>